.nav-container{
    background-color: #3c8dbc !important;
    height: 7vh;
    display:flex;
    justify-content: space-between;
    padding:10px;
    width:100%;
    z-index: 5;
    position:fixed;
    
}
.navbar-header-select{
    display:flex;
    align-items: center;
   
}
.select-button{
    height:25px;
    width:100px;
    /* height:30px;
    width:50px; */
    margin-right:10px;
    border-radius: 5px;
    border-width: 0;
    outline: none;
}

.title{
    color:white;
    margin-left:10px;
    font-size:14px !important;
}


.navbar-profile-button{
    display:flex;
    color:white;
    border:0px;
    background-color: transparent;
    align-items: center;
}
.navbar-profile-button:hover,
.navbar-profile-button:focus{
    background-color:#3c8dbc;
    border-width:0px;
    border:none;
    outline: none;
    height:30px;
}
.button-profile-icon{
    
    height:25px;
    width:25px;
}
.language-dropdown{
    width: auto !important;
    font-size: 14px !important;
    margin-right: 10px;
    background-color: #93a4b3 !important;
    outline: none;
    box-shadow: none;
}
.language-dropdown:focus{
    outline: none;
}

.language-dropdown-content-box{
    min-width: 0px !important;
}
.language-dropdown-eact-item{
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.header-search{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    width:12rem;
    border:0px;
    margin-left:5px;
    outline: none;
    padding-left:5px;
}

@media only screen and (max-width:767px){
    .header-search{
        width:4rem;
    }
}
@media only screen and (max-width:380px){
    .header-search{
        width:2rem;
    }
}

.title-search-container{
    display:flex;
    align-items: center;
}

.search-bar button{
    /* background-color: blue; */
    border:none;
    width:20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:white;
    cursor: pointer;
}
.search-icon{
    font-size: 20px;
    color:white !important;
   
}
.search-bar button:hover,
.search-bar button:active,
.search-bar button:focus
{
    outline:none;
}




