.basic-white-form{
  background-color: #f8f8f8;
  border-radius: 0rem;
  border-top-right-radius: 0.313rem;
  border-bottom-left-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
  margin: 1.875rem 1.875rem 0rem 1.875rem;
  padding: 0.938rem;
}
.form-heading-container{
  border: solid 1px #e9ecef;
  height: 2.5rem;
  width: 12.5rem;
  margin-left: 1.875rem;
  margin-bottom: -1.875rem !important;
  background-color: #f8f8f8;
  border-radius: 0.063rem;
  
  border-top-left-radius: 0.313rem;
  border-top-right-radius: 0.313rem;
  color: black;
}
.form-tab-heading{
  font-size: 0.938rem;
  font-weight: bold;
 
  text-align: center;
  padding-top: 0.313rem;
}

.overview-select-item{
  margin-top:0.313rem;
  padding: 5;
  width: 100%;
  border-radius: 0.188rem;
  height: 1.875rem;
  border-top: none;
  border-right: none;
  border-left: none;
}

.overview-select-item:focus{
  border: 2px solid #007bff;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.over-view-form-textarea{
  padding: 0.313rem;
width: 100%;
display: "block";
resize: "none";
border-radius: 0.188rem;
border: 0.063rem solid #ccc;
}
