*, :after, :before {
    box-sizing: border-box;
}
.opportunities-hr-line{
    background-color: black;
    width: 97%;
    height: 1px;
}


.form-container{
    background-color: #ccc;
}
.form-title{
    font-size:20px;
}
