*, :after, :before {
    box-sizing: border-box;
}
.opportunities-hr-line{
    background-color: black;
    width: 97%;
    height: 0.063rem;
}


.form-container{
    background-color: #ccc;
}
.form-title{
    font-size:1.25rem;
}

