*, :after, :before {
    box-sizing: border-box;
}
.create-contacts-bg-container{
    background-color: #ccc;
    min-width: 80vw;
    min-height: 100vh;
}

.contacts-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;

}

.contacts-h4-heading{
    color: black;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: .1em;
    word-wrap: break-word;
    margin-left: 1.37rem;

}

/* .d-flex {
    display: flex!important;
} */

.contact-save-button{
    background-color: #93a4b3;
    padding: 0.3em 1em;
    font-size: .8em;
    font-weight: 700;
    height: 2.2em;
    border: none;
    border-radius: 3px;
    margin: 4px;
    color: white;
}

.contact-save-button:hover{
    background-color: #777;
}

.contact-cancel-button{
    background-color: #93a4b3;
    padding: 0.3em 1em;
    font-size: .8em;
    font-weight: 700;
    height: 2.2em;
    border: none;
    border-radius: 3px;
    margin-right: 20px;
    color: white;
}

.contact-cancel-button:hover{
    background-color: #777;
}

.contacts-hr-line{
    background-color: black;
    width: 97%;
    height: 1px;
}

/* form width */
.contacts-three-button-container{
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
}


