.search-bg{
    background-color:lightgray;
    display:flex;
    justify-content: space-between;
    padding:10px;
}
button{
    color:white;
    height:30px;
    width:80px;
    border-radius:5px;
    border-width: 0px;
}
input{
    border:none;
    border-width: 0px;
    width:500px;
}