  
  .basic-white-form{
    background-color: #f8f8f8;
    border-radius: 	0rem;
    border-top-right-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    margin: 	1.875rem 	1.875rem 	0rem 	1.875rem;
    padding: 0.9375rem;
  }
  .form-heading-container{
    border: solid 0.0625rem #e9ecef;
    height: 2.5rem;
    width: 12.25rem !important;
    margin-left: 	1.875rem !important;
    margin-bottom: -1.875rem !important;
    background-color: #f8f8f8;
    border-radius: 0.0625rem;
    
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    color: black;
  }
  
  
  .overview-select-item{
    margin-top:0.3125rem;
    padding: 0.3125rem;
    width: 100%;
    font-size: 0.75rem;
    border-radius: 0.19rem;
    height: 	1.875rem;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  
  .overview-select-item:focus{
    border: 0.13rem solid #007bff;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .over-view-form-textarea{
    padding: 0.3125rem;
  width: 100%;
  display: "block";
  resize: "none";
  border-radius: 0.19rem;
  border: 0.0625rem solid #ccc;
  }
  
  .form-horizontal-line-for-devide{

    background-color: black;
    margin: 0.625rem 	1.875rem 1.25rem 	1.875rem;
    height: 0.0625rem;
  }

  .form-title{
    font-size:1.25rem;
    margin-left: 0.625rem;
  }