*, :after, :before {
  box-sizing: border-box;
}



.form-container{
  background-color: #ccc;
}



.address-heading{
  font-size: 15px;
  font-weight: bold;
}

.name-heading{
  font-size: 15px;
  font-weight: bold;
}

.form-validation-errors{
  color: red;
  font-size: 12px;
  text-align: left;
}

.description-validation{
  text-align: center !important;
}

.form-tab-heading{
  font-size: 15px;
  font-weight: bold;
 
  text-align: center;
  padding-top: 5px;
}