*{
  margin-bottom: 0px;
}


  .overview-error-paragraph {
    color: #bf1650;
  }
  
  .overview-error-paragraph::before {
    display: inline;
  }
  
  .overview-input-form {

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }

  .first-name:focus{
    border: 2px solid #007bff !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
 
  .overview-label-form {
    
    text-align: left;
    display: block;
    
    color: black;
    font-size: 14px;
    font-weight: 200;
  }
  
  .overview-label-form-bottom{
    text-align: left;
    display: block;
    
    color: black;
    font-size: 15px;
    font-weight: bold;
  }

 

  
  
  .overview-input-form:disabled {
    opacity: 0.4;
  }

  
  .form-validation-errors{
    color: red;
    font-size: 12px;
    text-align: left;
  }

  .description-validation{
    text-align: center !important;
  }

  .error-margin{
    margin-left: 16.5%;
  }
  
  

  .heading-form-container{
    border: solid 1px white;
    height: 40px;
    width: 200px;
    margin-left: 30px;
    margin-bottom: -30px !important;
    background-color: #f8f8f8;
    border-radius: 1px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .heading-form-container.active,
  .heading-form-container:focus,
  .heading-form-container:hover {
    border-width: 3px;
    border-color: #e9ecef #e9ecef;
  }

  .heading-form{
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 5px;
  }

  .first-last-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .overview-select-item{
    padding: 5;
    width: 100%;
    border-radius: 3px;
    height: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .overview-select-item:focus{
    border: 2px solid #007bff;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .dropdown-container{
    display: "flex";
    flex-direction: "column";
    align-items: "center";
  }

  .button-container{
    margin-top: -30px;
    display: flex;
    justify-content: flex-end;
  }

  .button-submit{
    border: solid 1px black;
    background-color: #534d64;
    color: white;
    height: 30px;
    width: 120px;
  }

  .overview-form-name{
    font-weight: bold;
    color: #534d64;
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size: .875rem;
    line-height: 1;
    
  }

  .overview-form-name-container{
    text-align: left;
  }

  .half-overview-form{
   
    width: 49%;
   
  }


  .over-view-form-flex-container{
    display: flex;
    justify-content: flex-start;
  }

  .dotted-horizontal-line{
   width: 100%;
    border:none;
  border-top:2px dotted #ccc; 
  color:#fff;
  background-color:#fff;
  height:1px;
  display: flex;
  justify-content: flex-end;
  margin-right: 51%;
  }

  .dotted-horizontal-line-bottom{
    width: 100%;
    border:none;
  border-top:2px dotted #ccc; 
  color:#fff;
  background-color:#fff;
  height:1px;
  
  }

 

    .dotted-horizontal-line-container-bottom{
        width: 100%;
    }

    .overview-input-form-bottom{
       
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 15px;
        margin-bottom: 5px;
        width: 100%;
        font-size: 14px;
        text-align: left;
        height: 30px;
        outline: none;
    }
    .overview-input-form-bottom:focus{
        border: 2px solid #007bff;
    }
    

    .account-name{
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        width: 20% !important;
        text-align: left;
    }
    .account-name:focus{
        border: 3px solid #007bff;
        
      }


    .over-view-form-bottom-containers{
        display: flex;
        flex-direction: row;    
        justify-content: space-between;      
    }
    .over-view-form-input-box-width{
        width: 30%;

        
    }
    .right-container{
        width: 33%;
      
    }

    .overview-form-email{
        text-align: left;
        font-size: 13px;
        margin: 5px;
    }

    .over-view-address-form{
       text-align: left;
       font-size: 13px;
    }

    .over-view-address-label-form{
        margin-bottom: 5px;


    }

    .over-view-form-textarea{
        padding: 5;
    display: "block";
    resize: "none";
    border-radius: 3px;
    border: 1px solid #ccc;
    }

    .assigned-to-form{
        width: 20%;
        text-align: left;
        border: none;
        outline: none;
    }

  

  

    .form-address-container-row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .over-view-form-address-bottom-2-detailes{
      display: flex;
      justify-content: flex-start;
    
    }

    .address-form-margin{
      margin-left: 16.5%;
    }

    .other-address-margin{
      margin-top: 20px;
    }

    .empty-space-container{
      background-color: transparent;
      height: 10px;

    }








    .more-information-form-div-container{
      display: flex;
      flex-direction: column;
  }
  
  
  
  .more-information-label-form{
      text-align: left;
      display: block;
      margin-bottom: 13px;
      margin-top: 20px;
      color: black;
      font-size: 14px;
      font-weight: bold;
  }
  
  .more-infromation-horizontal-line{
      height: 2px;
      color: #ccc;
      width: 50%;
     margin-right: 50%;
  }
  
  .more-information-dotted-horizontal-line-bottom{
      width: 50%;
      border:none;
    border-top:2px dotted #ccc; 
    color:#fff;
    background-color:#fff;
    height:1px;
  }
  
  .more-information-dotted-horizontal-line{
      display: flex;
      justify-content: flex-start;
      width: 100%;
      
  }
  
  .other-infromation-form-container{
      display: flex;
      justify-content:flex-start;
      flex-direction: row;
  }
 
  
  .more-info-form-flex-container-row-three{
      display: flex;
      justify-content: space-between;
  }
  
  .more-info-drop-down{
      width: 30%;
  }