*, :after, :before {
    box-sizing: border-box;
}

.overview-form{
    width: 100%;

}
  .overview-error-paragraph {
    color: #bf1650;
  }
  
  .overview-error-paragraph::before {
    display: inline;
    content: "⚠ ";
  }
  
  .overview-input-form {

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  .first-name:focus{
    border: 2px solid #007bff !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
 
  .overview-label-form {
    /* line-height: 2; */
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: black;
    font-size: 14px;
    font-weight: 200;
  }
  
  .overview-label-form-bottom{
    /* line-height: 2; */
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: black;
    font-size: 15px;
    font-weight: bold;
  }

  
  
  .overview-input-form:disabled {
    opacity: 0.4;
  }

  
  
  /* .App {
    max-width: 600px;
    margin: 0 auto;
  } */
  
  .first-last-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .overview-select-item{
    padding: 5;
    width: 200;
    width: 100%;
    border-radius: 3px;
    height: 30px;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .overview-select-item:focus{
    border: 2px solid #007bff;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .dropdown-container{
    margin-top: 50;
    display: "flex";
    flex-direction: "column";
    align-items: "center";
  }

  .overview-form-name{
    font-weight: bold;
    color: #534d64;
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-size: .875rem;
    line-height: 1.5;
    
  }

  .overview-form-name-container{
    text-align: left;
  }

  .half-overview-form{
   
    width: 49%;
   
  }

  .vertical-line-for-deviding{
    border-left: 1px solid black;
    height: 100px;
   margin-left: 2%;
  }

  .vertical-line-form-deviding{
    border-left: 1px solid black;
    height: 110px;
  }
  /* .vertical-line-deviding-container{
    margin-left: 5%;
  } */

  .over-view-form-flex-container{
    display: flex;
    justify-content: flex-start;
  }

  .dotted-horizontal-line{
   width: 100%;
    border:none;
  border-top:2px dotted #ccc; 
  color:#fff;
  background-color:#fff;
  height:1px;
  display: flex;
  justify-content: flex-end;
  margin-right: 51%;
  }

  .dotted-horizontal-line-bottom{
    width: 100%;
    border:none;
  border-top:2px dotted #ccc; 
  color:#fff;
  background-color:#fff;
  height:1px;
  
  }

  /* .dotted-horizontal-line{
    display: flex;
    justify-content: flex-end;
    width: 49%;
    margin-right: 51%;
    } */

    .dotted-horizontal-line-container-bottom{
        width: 100%;
    }

    .overview-input-form-bottom{
        /* box-sizing: border-box; */
        /* width: 100%; */
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: 10px 15px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
        text-align: left;
        height: 30px;
        outline: none;
    }
    .overview-input-form-bottom:focus{
        border: 2px solid #007bff;
    }
    

    .account-name{
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        width: 20% !important;
        text-align: left;
    }
    .account-name:focus{
        border: 3px solid #007bff;
        /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
      }

    .over-view-form-bottom-containers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .left-container{
        width: 49%;
        
    }
    .right-container{
        width: 49%;
      
    }

    .overview-form-email{
        text-align: left;
        font-size: 13px;
        margin: 5px;
    }

    .over-view-address-form{
       text-align: left;
       font-size: 13px;
    }

    .over-view-address-label-form{
        margin-bottom: 10px;

    }

    .over-view-form-textarea{
        padding: 5;
    width: 400;
    display: "block";
    resize: "none";
    border-radius: 3px;
    border: 1px solid #ccc;
    }

    .assigned-to-form{
        width: 20%;
        text-align: left;
        border: none;
        outline: none;
    }

  