 .app-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header-container{
    height: 7%;
    width: 100vw;
  }
  .sidebar-container{
    height: 93%;
  
  }
  /* .footer-container{
    height: 5%;
    background-color: lightgray;

  } */